
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de bord</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


</head>

<div class="sidebar" th:fragment="sidebar">
    <h2>Mon Etab</h2>
    <hr>
    <ul>
        <li class="active">
            <a th:href="@{/Home}"><i class="fas fa-tachometer-alt"></i> Tableau de bord</a>
        </li>
        <li>
            <a th:href="@{/Students}"><i class="fas fa-user-graduate"></i> Élèves</a>
        </li>
        <li>
            <a th:href="@{/Teachers}"><i class="fas fa-chalkboard-teacher"></i> Professeurs</a>
        </li>
        <li>
            <a th:href="@{/Users}"><i class="fas fa-user"></i> Utilisateur</a>
        </li>
        <li>
            <a th:href="@{/Rapport}"><i class="fas fa-chart-line"></i>Rapport</a>
        </li>

        <li>
            <a th:href="@{/appSetting}"><i class="fas fa-cogs"></i> Paramètres de l'application</a>
        </li>
        <li>
            <a th:href="@{/school}"><i class="fas fa-school"></i> Paramètres de l'école</a>
        </li>
        <li>
    </ul>
    <hr style="margin-top:270px;">
    <ul>
        <form th:action="@{/logout}" method="post">
            <li>
                <button type="submit">
                    <i class="fas fa-sign-out-alt"></i> Déconnexion
                </button>
            </li>
        </form>
    </ul>

</div>

<!-- fragments/script.html -->
<th:block th:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:src="@{/js/scripte.js}"></script>
</th:block>


