/* Style global */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e0e0e0; /* Conserve la couleur de fond #f4f4f4 */
    display: flex;
}

/* Conteneur principal */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 160px;
}

/* Styles pour la boîte de connexion */
.login-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
}

.logo img {
    width: 50px;
    margin-bottom: 10px;
    position: absolute;
    right : 740px;
}

.logo h1 {
    font-size: 24px;
    margin: 0;
    font-weight: normal;
}

.input-group {
    margin: 15px 0;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-btn {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}

.login-btn:hover {
    background-color: #444;
}

/* Sidebar styles */
.sidebar {
    width: 200px;
    background-color: #e0e0e0;
    padding: 20px;
    height: 100vh;
    border-right: 4px solid #a39d9d ;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 15px 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.sidebar ul li i {
    margin-right: 10px;
}

.sidebar ul li:hover {
    color: #007bff; /* Couleur au survol */
}

.sidebar ul li.active {
    color: #007bff; /* Couleur bleue pour l'élément actif */
}

.sidebar ul li a {
    text-decoration: none;
    color: inherit; /* Hérite de la couleur du li */
    display: flex;
    align-items: center;
}

.deconnexion {
    margin: 15px 0;
    font-size: 16px;
    display: flex;
    align-items: center; 
    margin-top: 210px;
}

.deconnexion li a {
    text-decoration: none;
    color: inherit; /* Hérite de la couleur du li */
    display: flex;
    align-items: center;
}

.sidebar hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 15px 0;
}

/* Styles du contenu */
.content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content1 {
    flex-grow: 1;
    padding: 20px;
    margin-top: 0px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    width: 48%;
    box-sizing: border-box;
    height: 270px; /* Hauteur uniforme pour toutes les cartes */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 4px solid #a39d9d;
}

/* Ajustement du canevas pour le diagramme circulaire */
.card canvas {
    max-width: 100%;
    height: auto;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 2px solid #000;
    padding: 10px;
    text-align: left;
    background-color: rgb(255, 255, 255);
}

th {
    background-color: #ffffff;
}

/* Button styles */
button {
    margin-right: 5px;
    cursor: pointer;
}

/* Styles pour le formulaire d'ajout d'élève */
.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
}

.form-container h1 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group.gender {
    display: flex;
    justify-content: space-between;
}

.form-group.gender input {
    width: auto;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-actions .btn-cancel {
    background-color: #dc3545;
    color: white;
}

.form-actions .btn-save {
    background-color: #28a745;
    color: white;
}

.form-actions .btn-cancel:hover {
    background-color: #c82333;
}

.form-actions .btn-save:hover {
    background-color: #218838;
}
.back-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 70px;
}

.icon {
    display: flex;
    align-items: center;
    gap: 10px;
}
.edit-icon, .delete-icon {
    cursor: pointer;
}
.popup0 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.confirmation-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.confirmation-container h2 {
    margin-bottom: 20px;
}
.confirmation-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
.btn-confirm {
    background-color: red;
    color: white;
}
.btn-cancel {
    background-color: grey;
    color: white;
}